<ion-content class="sk-verify-email-check-email-page sk-blank-state" padding>
    <div class="sk-blank-state-wrap">
        <img class="sk-blank-state-icon" src="./assets/img/user/verify-email/ic-success.svg" alt="" />
        <div class="sk-blank-state-cont">
            <h2>{{ 'verify_email_registration_successful' | translate }}</h2>
            <p>{{ 'verify_email_check_email_page_desc' | translate }}</p>
        </div>
        <ion-list class="sk-inputs">
            <question *ngFor="let question of questions" [question]="question" [form]="form"></question>
        </ion-list>
        <div class="sk-buttons">
            <button ion-button round class="sk-verify-email-button" [disabled]="isRequestLoading || questionControl.isFormPending(form)" (click)="submit()">
                <span class="sk-text-overflow">{{ 'verify_email_resend_button' | translate }}</span>
                <ion-spinner class="sk-spinner-btn" *ngIf="isRequestLoading" name="ios-small"></ion-spinner>
            </button>
        </div>
    </div>
</ion-content>

<ion-footer class="sk-back-footer sk-blank-state-footer">
    <ion-toolbar>
        <button type="button"  class="sk-leave-verify-email-button" ion-button block clear icon-start (click)="openLoginPage()">
            <ion-icon name="ios-arrow-back"></ion-icon>
            <span class="sk-text-overflow">{{ 'verify_email_back_button' | translate }}</span>
        </button>
    </ion-toolbar>
</ion-footer>
