ow_includes/config.php
ow_libraries/htmlpurifier
ow_libraries/html5lib-php-0.1/
ow_smarty/template_c
ow_install
nbproject
.settings
.project
.buildpath
.DS_Store
.idea
error_log
access_log
blank
build
.owr
owr.sh
owr.py
composer.phar
composer.lock
!ow_userfiles/
ow_userfiles/*
!ow_userfiles/plugins/
ow_userfiles/plugins/*
!ow_userfiles/plugins/base
ow_userfiles/plugins/base/*
!ow_userfiles/plugins/base/avatars
ow_userfiles/plugins/base/avatars/*
!ow_userfiles/plugins/base/avatars/index.html
!ow_userfiles/plugins/base/avatars/tmp
ow_userfiles/plugins/base/avatars/tmp/*
!ow_userfiles/plugins/base/avatars/tmp/index.html
!ow_userfiles/plugins/base/attachments
ow_userfiles/plugins/base/attachments/*
!ow_userfiles/plugins/base/attachments/temp
ow_userfiles/plugins/base/attachments/temp/*
!ow_userfiles/plugins/base/attachments/temp/index.html
ow_static/plugins/*
!ow_static/plugins/admin
!ow_static/plugins/base
ow_pluginfiles/*
!ow_pluginfiles/.htaccess
!ow_pluginfiles/base
ow_pluginfiles/base/lang_1.php
ow_static/themes
ow_log/*
!ow_log/.htaccess
robots.txt
*.bak