{$menu}

{block_decorator name='box' capEnabled=0 type='empty' addClass='ow_stdmargin ow_automargin'}
    {form name="save-config-form"}
        <table class="ow_table_1 ow_form">
            <tr class="ow_alt2 ow_tr_first ow_tr_last">
                <td class="ow_label">{label name="allow_grant_credits"}</td>
                <td >{input name="allow_grant_credits"}</td>
            </tr>
        </table>
        <div class="clearfix ow_submit ow_smallmargin"><div class="ow_right">{submit name='save' class='ow_ic_save ow_positive'}</div></div>
    {/form}
{/block_decorator}
