{$menu}

{form name="gdpr-settings-form"}
    <table class="ow_table_1 ow_form">
        <tr class="ow_tr_last">
            <td>
                {label name='gdpr_third_party_services'}
            </td>
            <td>
                {input name='gdpr_third_party_services'}
                <br />
                {error name='gdpr_third_party_services'}
            </td>
            <td class="ow_desc">
                {text key='gdpr+gdpr_third_party_services_desc'}
            </td>
        </tr>
    </table>
    <div class="clearfix ow_submit ow_stdmargin">
        <div class="ow_right">
            {submit name="gdpr-save"}
        </div>
    </div>
{/form}
