/* SK */

$sk-tinder-card-bottom-info-color: #D3D3D3;
$sk-radar-start-color: #EF8D32;
$sk-radar-end-color: #EE0E5C;
$sk-radar-skeleton-start-color: #eee;
$sk-radar-skeleton-end-color: #ddd;
$sk-tinder-card-bg: #EFF1F3;
$sk-tinder-card-dislike-bg:rgba(240, 53, 72, 0.2);
$sk-tinder-card-like-bg: rgba(87, 255, 142, 0.2);