/* SK */
$sk-profile-tab-name: #434649;
$sk-profile-tab-about: #AFB9C1;
$sk-profile-button-border: #c8cdd3;
$sk-profile-link: #f45c44;
$sk-guest-count: #f45c44;

$sk-user-link-pwa-bg: #f6c102;
$sk-user-link-pwa-color: #333;
