$sk-login-input-bg: rgba(0, 0, 0, 0.44);
$sk-login-input-fcolor: color($colors, light);
$sk-login-input-placeholder: #D6D6D6;
$sk-login-inline-btn-color: #94969B;
$sk-login-fb-label-color: color($colors, light);
$sk-login-fb-border-color: rgba(216, 216, 216, 0.2);
$sk-login-logo-width: 27vw;
$sk-login-logo-height: auto;
$sk-login-url-color: color($colors, light);
