.ow_profile_gallery_place {
    position: relative;
    padding: 1px;
}

.ow_profile_gallery_btn {
    position: absolute;
    right: 8px;
    top: 8px;
}

.ow_profile_gallery {
    overflow: hidden;
}

.ow_profile_gallery_item {
    border-width: 1px;
    border-style: solid;
    margin-right: 1px;
    opacity: 0.9;
    transition: opacity .40s ease-in-out;
    -moz-transition: opacity .40s ease-in-out;
    -webkit-transition: opacity .40s ease-in-out;
    position: relative;
}

.ow_profile_gallery_item:hover {
    box-shadow: 0 0 18px rgba(0, 0, 24, 0.75) inset;
    opacity: 1;
    border-color: #6e6b65;
    cursor: pointer;
}

.ow_profile_gallery_item:first-child {
    margin-bottom: 1px;
}

.ow_profile_gallery_item_image {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.ow_profile_gallery_item_image:hover {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.6) inset;
}

.ow_profile_gallery_item_vert {
    width: 20%;
    float: left;
    background-color: transparent;
    border: none;
}

.ow_profile_gallery_item_big {
    width: 40%;
}

.ow_profile_gallery_item_big .ow_profile_gallery_item:first-child {
    margin-bottom: 0px;
}

.ow_profile_gallery_item img {
    display: block;
    visibility: hidden;
    width: 100%;
}

.ow_profile_gallery_cont_wrap {
    position: relative;
}

.ow_profile_gallery_avatar {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    float: left;
    margin-top: -69px;
    margin-left:  27px;
}

.ow_profile_gallery_avatar_console {
    position: relative;
    border-style: solid;
    border-width: 1px;
}

.ow_profile_gallery_avatar_image {
    background: green;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    width: 161px;
    height: 161px;
}

.ow_profile_gallery_avatar_change {
    position: absolute;
    top: 43%;
    left: 151px;
    display: none;
}
.ow_profile_gallery_avatar_image:hover .ow_profile_gallery_avatar_change {
    display: block;
}
.ow_profile_gallery_avatar_change a {
    white-space: nowrap;
}

.ow_profile_gallery_avatar .user_online_wrap {
    bottom: 5px;
    position: absolute;
}

.ow_profile_gallery_toolbox {
	margin-left: 229px;
	padding: 32px 0px 0px 0px;
}

.ow_profile_gallery_display_name {
    font-size: 20px;
    height: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 28px;
}

.ow_profile_gallery_txt {
    display: table-cell;
    vertical-align: middle;
}

.ow_profile_gallery_empty,
html[xmlns] .ow_profile_gallery_empty.clearfix {
    height: 118px;
    width: 100%;
    display: table;
    text-align: center;
}

.ow_profile_gallery_wrap .ow_profile_action_toolbar {
    margin-bottom: 0px;
}