<div id="photo-album-info" class="ow_photo_album_info_wrap clearfix">
    <div class="ow_photo_album_toolbar ow_smallmargin clearfix">
        <div class="ow_photo_album_btns ow_right clearfix">
            <ul class="ow_bl clearfix ow_small ow_right">
                <li>
                    <a href="javascript://" id="pphotos-enter-password">
                        {text key='protectedphotos+enter_password'}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ow_photo_album_info">
        <div class="ow_photo_album_cover ow_high1">
            <img src="{$coverUrlOrig}" class="cover_orig ow_hidden" />
            <div class="ow_pass_protected_wrap" style="height: 120px">
                <div class="ow_pass_protected_cont">
                    <div class="ow_pass_protected_lang">{text key='protectedphotos+password_protected_photo'}</div>
                </div>
            </div>
        </div>
        <h3 class="ow_photo_album_name">{$album->name}</h3>
        <div class="ow_photo_album_description ow_stdmargin">{$album->description}</div>

        {add_content key='photo.view_album' album=$album}
    </div>
</div>
