<div class="ow_photo_privacy_settings ow_smallmargin clearfix">
    {$privacyMarkup}
</div>
<div id="protectedphotos-content">
    <div class="ow_pass_protected_privacy_userlist ow_privacy_userlist ow_smallmargin clearfix">
        <div class="ow_privacy_context" style="display: none;">
            <div class="ow_pass_protected_userlist_wrap ow_privacy_userlist_main_wrap ow_left ow_bg_color">
                {$searchMarkup}
                <div class="ow_privacy_userlist_main_label ow_small">{text key='protectedphotos+or_choose_from_list'}</div>
                {$friendListMarkup}
            </div>
            {$selectedListMarkup}
        </div>
    </div>
    {$passwordMarkup}
</div>
