<ion-content class="sk-app-error-page sk-blank-state" padding>
    <ion-refresher *ngIf="!(bootstrap.applicationDependenciesLoaded$ | async)" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="sk-blank-state-wrap">
        <img class="sk-blank-state-icon" src="./assets/img/app-error/ic-app-error.svg" alt="" />
        <div class="sk-blank-state-cont">
            <h2>{{ 'app_error_page_header' | translate }}</h2>
            <p>{{ 'app_error_page_description' | translate }}</p>
        </div>
        <div *ngIf="bootstrap.applicationDependenciesLoaded$ | async" class="sk-buttons">
            <button ion-button round class="sk-app-error-ok-button" (click)="redirect()">
                <span class="sk-text-overflow">{{ 'ok' | translate }}</span>
            </button>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="bootstrap.applicationDependenciesLoaded$ | async" class="sk-back-footer sk-blank-state-footer">
    <ion-toolbar>
        <button type="button" class="sk-leave-app-error-button" ion-button block clear icon-start (click)="logout()">
            <ion-icon name="ios-arrow-back"></ion-icon>
            <span class="sk-text-overflow">{{ 'back_to_starter_page_button' | translate }}</span>
        </button>
    </ion-toolbar>
</ion-footer>
