/* mailbox integration */
.ow_chat_dialog .ow_chat_item_media_buttons img.videoim_chat_link {
    float: left;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}
.ow_chat_dialog.ow_chat_dialog_active .ow_chat_item_media_buttons img.videoim_chat_link {
    padding-top: 6px;
}

/* confirmation window */
.ow_videoim_confirmation_window {
    width:520px;
    height:400px;
    padding: 40px;
    position: relative;
    z-index: 2;
}
/* buttons */
.ow_videoim_btn {
    display: inline-block;
    min-height: 70px;
    width: 60px;
    vertical-align: top;
    color: #fff;
}
.ow_videoim_btn_icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 46px;
}
.ow_videoim_hint_btn_sound_off,
.ow_videoim_hint_btn_sound_on,
.ow_videoim_hint_btn {
    padding: 5px 0;
    display: none;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4);
}

.ow_videoim_mute_btn_not_active:hover .ow_videoim_hint_btn_sound_on {
    display: block;
}

.ow_videoim_mute_btn_active:hover .ow_videoim_hint_btn_sound_off {
    display: block;
}

.ow_videoim_btn:hover .ow_videoim_hint_btn {
    display: block;
}
.ow_videoim_btn:hover {
    text-decoration: none;
    color: #fff;
}
.ow_videoim_decline_btn .ow_videoim_btn_icon {
    background-color: #cb3042;
    background-image: url("../images/decline.svg");
    transition: all 0.1s ease-in-out 0s;     
}
.ow_videoim_decline_btn:hover .ow_videoim_btn_icon {
    background-color: #de4557;
}
.ow_videoim_btn.ow_videoim_accept_btn {
    width: auto;
    height: auto;
    padding-right: 10px;
} 
.ow_videoim_accept_btn .ow_videoim_btn_icon {
    height: auto;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 15px 45px 15px 20px;
    background-color: #19c880;
    background-image: url("../images/accept.svg");
    background-position: right center;
    transition: all 0.1s ease-in-out 0s;      
}
.ow_videoim_accept_btn:hover .ow_videoim_btn_icon {
    background-color: #2bdc93;
}
.ow_videoim_block_btn .ow_videoim_btn_icon {
    background-image: url("../images/block.svg");
}
.ow_videoim_block_btn:hover .ow_videoim_btn_icon {
    background-image: url("../images/block_crossed.svg");
}
.ow_videoim_mute_btn .ow_videoim_btn_icon {
    background-image: url("../images/mute.svg");
}
.ow_videoim_mute_btn.ow_videoim_mute_btn_not_active .ow_videoim_btn_icon {
    background-image: url("../images/mute_crossed.svg");
}
.ow_videoim_mute_btn.ow_videoim_mute_btn_active:hover .ow_videoim_btn_icon {
    background-image: url("../images/mute_crossed.svg");
}
.ow_videoim_mute_btn.ow_videoim_mute_btn_not_active:hover .ow_videoim_btn_icon {
    background-image: url("../images/mute.svg");
}
/* background avatar*/
.ow_videoim_bg {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    z-index: 1;
}
.ow_videoim_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(31, 32, 40, 0.83);
}
.ow_videoim_cont {
    position: relative;
    text-align: center;
    z-index: 3;
}
.ow_videoim_cont a {
   margin: 0px 4px;
}
.ow_videoim_cont h1 {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 25px;
    color: #fff;
}
/* avatar */
.ow_videoim_caller_avatar {
    display: inline-block;
    width: 247px;
    height: 247px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 42px;
}

.ow_videoim_caller_avatar_link {
    display:block;
    width: 100%;
    height: 100%;
}

.animation_pulse {
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name: pulse; 
    animation-name: pulse;
}
@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
}

#videoim-profile-widget-wrapper {
    background-image: url("../images/webcam-profile.png");
    background-position: left center;
    background-repeat: no-repeat;
    height:32px;
    padding-top: 10px;
}

#videoim-profile-widget-wrapper a {
    padding-left: 40px;
}