/* SK */

/* IOS ionic */
$item-ios-avatar-size: 5.6rem;
$item-ios-paragraph-text-color: $sk-desc-color;
$item-ios-paragraph-margin-top: 0.3rem;

/* Android ionic */
$item-md-avatar-size: 5.6rem;
$item-md-paragraph-text-color: $sk-desc-color;
