/* SK */

$sk-message-date-color: #8A8E92;
$sk-message-time-color: #C4C4C4;
$sk-message-sent-time-color: #93C2FF;
$sk-messages-down-border: #ECEEF1;
$sk-messages-down-icon: #AEBECE;
$sk-messages-down-counter-bg: #02C441;
$sk-messages-footer-promoted-bg: #0076FF;
$sk-messages-footer-promoted-button-bg: #4FA0FF;
$sk-messages-footer-promoted-placeholder: #0071CC;